<div class="modal fade" id="addCondominioAsyncModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                <div class="text-center mb-4">
                    <h3>Seleccione Condominio</h3>
                </div>
                <form id="addCondominioAsync" class="row g-3">

                    <div class="col-12">
                        <label class="form-label" for="CNDMNIOASYNC">Condominio</label>
                        <select id="CNDMNIOASYNC" name="CNDMNIOASYNC" class="form-select">
                            <option value="">Seleccionar</option>
                        </select>
                    </div>
                    
                    <div class="col-12 text-center mt-4">
                        <button type="button" id="BTNCNDMNIOASYNC" class="btn btn-primary me-sm-3 me-1">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
