@page
@model CARO.AUTENTICACION.WEB.Pages.Modulos.IndexModel
@{
}

@section PageScripts {
  <script src="~/app/Modulos/index.js"></script>
}

<h4 class="py-3 breadcrumb-wrapper mb-4 text-center"><span class="text-muted fw-light">Modulos</span></h4>

<!-- Examples -->
<div class="row mb-5 h-full" id="modulos-container">

</div>
<!-- Examples -->
