<div class="modal fade" id="modalEditDetGrupoDato" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-simple modal-edit-user">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3>Editar Detalle GD</h3>
                </div>
                <form id="EditDetGrupoDato" class="row g-3" method="post">
                    <div class="col-12 col-md-4">
                        <label class="form-label" for="GDPDRE">Grupo Dato <span class="text-danger">*</span></label>
                        <input type="text" id="GDPDRE" name="GDPDRE" disabled="true" class="form-control max-length" data-maxlength="50" />
                    </div>

                    <div class="col-12 col-md-4">
                        <label class="form-label" for="DTLLE">Detalle <span class="text-danger">*</span></label>
                        <input type="text" id="DTLLE" name="DTLLE"  class="form-control max-length" data-maxlength="50" />
                    </div>
                    
                    <div class="col-12 col-md-4">
                        <label class="form-label" for="VLR1">Valor 1 <span class="text-danger">*</span></label>
                        <input type="text" id="VLR1" name="VLR1" class="form-control max-length" data-maxlength="50" />
                    </div>

                    <div class="col-12 col-md-4">
                        <label class="form-label" for="VLR2">Valor 2 </label>
                        <input type="text" id="VLR2" name="VLR2" class="form-control max-length" data-maxlength="50" />
                    </div>

                    <div class="col-12 col-md-4">
                        <label class="form-label" for="VLR3">Valor 3 </label>
                        <input type="text" id="VLR3" name="VLR3" class="form-control max-length" data-maxlength="50" />
                    </div>

                    <div class="col-12 col-md-4">
                        <label class="form-label" for="VLR4">Valor 4 </label>
                        <input type="text" id="VLR4" name="VLR4" class="form-control max-length" data-maxlength="50" />
                    </div>

                    <div class="col-12 text-center mt-4">
                        <button id="btnEditDetGrupoDato" class="btn btn-primary me-sm-3 me-1">Guardar</button>
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                    </div>

                    @await Html.PartialAsync("../../../_Partials/_AuditoriaE.cshtml")

                </form> 
            </div>
        </div>
    </div>
</div>
