<div class="modal fade" id="modalEditPlantilla" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3>Editar Plantilla</h3>
                </div>
                <form id="EditPlantilla" class="row g-3" method="post">
                    <div class="col-12">
                        <label class="form-label" for="DSCRPCN">Descripción <span class="text-danger">*</span></label>
                        <input type="text" id="DSCRPCN" name="DSCRPCN" class="form-control max-length" data-maxlength="200" />
                    </div>

                    <div class="col-12">
                        <label class="form-label" for="DTLLE">Detalle</label>
                        <textarea id="DTLLE" name="DTLLE" class="form-control max-length" data-maxlength="2000"></textarea>
                    </div>

                    <div class="col-12 col-md-6">
                        <label class="form-label" for="GDTPODCMNTO">Tipo de Plantilla <span class="text-danger">*</span></label>
                        <select id="GDTPODCMNTO" name="GDTPODCMNTO" class="form-select">
                        </select>
                    </div>

                    <div class="col-12 col-md-6">
                        <label class="form-label" for="RTA">Ruta Analisis <span class="text-danger">*</span></label>
                        <input type="text" id="RTA" name="RTA" class="form-control noMayus max-length" data-maxlength="100" />
                    </div>

                    <div class="col-12">
                        <div action="/upload" class="dropzone needsclick
                            d-flex justify-content-center align-items-center" id="dropzone-area">
                            <div class="dz-message needsclick">
                                Arrastra el archivo o haz clic para subir la plantilla 
                                <span class="note needsclick">(Esta es sólo una visualización
                                    <span class="fw-medium">del</span> archivo.)</span>
                            </div>
                            <div class="fallback">
                                <input name="file" name="ARCHVO" type="file" accept="image/*" />
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <button id="downloadPlantilla" class="btn btn-primary">Descargar Plantilla</button>
                    </div>

                    <div class="col-12 text-center mt-4">
                        <button id="btnEditPlantilla" class="btn btn-primary me-sm-3 me-1">Guardar</button>
                        <button type="rest" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                    </div>

                    @await Html.PartialAsync("../../../_Partials/_Auditoria.cshtml")

                </form>
            </div>
        </div>
    </div>
</div>
