@page
@model CARO.AUTENTICACION.WEB.Pages.Login.IndexModel
@{
    Layout = "Layouts/_BlankLayout";
    ViewData["Title"] = "Login";
}

@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
}

@section VendorScripts {
<script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
<script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
<script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
}


@section PageScripts {
  <script src="~/app/login/index.js"></script>
}
@* ************** Content ************** *@

<div class="authentication-wrapper authentication-cover">
  <div class="authentication-inner row m-0">
    <!-- /Left Text -->
    <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center">
      <div class="flex-row text-center mx-auto">
        <img src="~/img/pages/login-light.png" alt="Auth Cover Bg color" width="520" class="img-fluid authentication-cover-img" data-app-light-img="pages/login-light.png" data-app-dark-img="pages/login-dark.png">
        <div class="mx-auto">
          <h3> 游봅</h3>
          <p>
         
          </p>
        </div>
      </div>
    </div>
    <!-- /Left Text -->

    <!-- Login -->
    <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg p-sm-5 p-4">
      <div class="w-px-400 mx-auto">
        <!-- Logo -->
        <div class="app-brand mb-4">
          <a href="/" class="app-brand-link gap-2 mb-2">
            <span class="app-brand-text demo h3 mb-0 fw-bold">@TempData.Peek("appName")</span>
          </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-2">Bienvenido a @TempData.Peek("appName")! 游녦</h4>
                <p class="mb-4">
                    Inicia sesi칩n en tu cuenta y comienza la aventura
                </p>

        <form id="formAuthentication" class="mb-3" method="POST">
          <div class="col-12">
              <label class="form-label" for="USRIO">Email</label>
              <input type="text" id="USRIO" name="USRIO" class="form-control" />
          </div>

          <div class="mb-3 form-password-toggle">
            <div class="d-flex justify-content-between">
              <label class="form-label" for="password">Contrase침a</label>
              <a href="/Auth/ForgotPassword/Cover">
                <small>쯆lvidaste tu contrase침a?</small>
              </a>
            </div>
            <div class="input-group input-group-merge">
              <input type="PSWORD" id="PSWORD" class="form-control" name="PSWORD" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="PSWORD" />
              <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
            </div>
          </div>
          
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="remember-me">
              <label class="form-check-label" for="remember-me">
                Recordarme
              </label>
            </div>
          </div>
          <button id="btnformAuthentication" class="btn btn-primary d-grid w-100">
            Iniciar sesi칩n
          </button>
        </form>

        <p class="text-center">
          <a href="/Auth/Register/Cover">
            <span>Reg칤strate</span>
          </a>
        </p>

        <div class="divider my-4">
          <div class="divider-text">O</div>
        </div>

        <div class="d-flex justify-content-center">
          <a href="javascript:;" class="btn btn-icon btn-label-facebook me-3">
            <i class="tf-icons bx bxl-facebook"></i>
          </a>

          <a href="javascript:;" class="btn btn-icon btn-label-google-plus me-3">
            <i class="tf-icons bx bxl-google-plus"></i>
          </a>

          <a href="javascript:;" class="btn btn-icon btn-label-twitter">
            <i class="tf-icons bx bxl-twitter"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- /Login -->
  </div>
</div>

