<div class="modal fade" id="modalEditPermiso" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3>Editar Permiso</h3>
                </div>
                <form id="EditPermiso" class="row g-3" method="post">
                    <div class="col-12">
                        <label class="form-label" for="DSCRPCN">Descripción <span class="text-danger">*</span></label>
                        <input type="text" id="DSCRPCN" name="DSCRPCN" class="form-control max-length" data-maxlength="100" />
                    </div>

                    <div class="col-12">
                        <label class="form-label" for="GDPRMSO">Abreviación <span class="text-danger">*</span></label>
                        <input type="text" id="GDPRMSO" name="GDPRMSO" class="form-control max-length sin-espacios" data-maxlength="50" />
                    </div>

                    <div class="col-12">
                        <label class="form-label" for="IDITM">Vista </label>
                        <select id="IDITM" name="IDITM" class="form-select disabled" disabled="true">
                        </select>
                    </div>

                    <div class="col-12 text-center mt-4">
                        <button id="btnEditPermiso" class="btn btn-primary me-sm-3 me-1">Guardar</button>
                        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                    </div>

                    @await Html.PartialAsync("../../../_Partials/_AuditoriaE.cshtml")

                </form> 
            </div>
        </div>
    </div>
</div>
